<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>clase_56</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TesterServlet</display-name>
    <servlet-name>TesterServlet</servlet-name>
    <servlet-class>cl.bootcamp.clase_56.TesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesterServlet</servlet-name>
    <url-pattern>/TesterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Testet2Servlet</display-name>
    <servlet-name>Testet2Servlet</servlet-name>
    <servlet-class>cl.bootcamp.clase_56.Testet2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testet2Servlet</servlet-name>
    <url-pattern>/Testet2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tester3Servlet</display-name>
    <servlet-name>Tester3Servlet</servlet-name>
    <servlet-class>cl.bootcamp.clase_56.Tester3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tester3Servlet</servlet-name>
    <url-pattern>/Tester3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tester4Servlet</display-name>
    <servlet-name>Tester4Servlet</servlet-name>
    <servlet-class>cl.bootcamp.clase_56.Tester4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tester4Servlet</servlet-name>
    <url-pattern>/Tester4Servlet</url-pattern>
  </servlet-mapping>
</web-app>